<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About this project</h2>
        <p>This is nothing but a project to demostrate some skills I have learned. This basic "Blog" shows a list of blogs in the main page, you can also include a new blog and add it to the list. You can edit or delete any entry, and also it is possible to search for content using the searching bar located on the top right corner.</p>
        <br>
        <p>Below is the list of languages, libraries and resources I used to build this project:</p>
        <br>
        <ul>
            <li class="item-list">NodeJs - Backend</li>
            <li class="item-list">MongoDB - Backend</li>
            <li class="item-list">EJS - Frontend</li>
            <li class="item-list">HTML & CSS - Frontend</li>
            <li class="item-list">Bootstrap - Frontend</li>
            <li class="item-list">Canva - Logo</li>
        </ul>
    </div>

<%- include('./partials/footer.ejs') %>
</body>
</html>